* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.TopBar {
    margin: 0;
    padding: 0;
    width: 1150px;
    display: inline-flex;
    flex-direction: row;
    align-content: middle;
    height: 100px !important;
    border-radius: 0 0 5px 5px;
    background-color: #263238;
    color: #fff;
}

.TopBarLoginData {
    margin: auto 25px auto auto;
}

div.Brand {
    margin: auto auto auto 20px;
    padding-bottom: 20px;
    color: #4CAF50;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-decoration: underline #FFF;
    text-transform: lowercase;
    transition: color 5s, text-emphasis 5s;
}

div.Brand:hover {
    color: #F44336;
    transition: color 5s, text-emphasis 5s;
}